[alias]
  applyignorespace = apply --ignore-space-change --ignore-whitespace -3 --verbose --recount
  br = branch
  ci = commit
  co = checkout
  # Under GNU/Linux:
  # conflict = !gitk --left-right HEAD...MERGE_HEAD
  # Under Mac OS X, you should use gitx instead:
  # conflict    = !gitx --left-right HEAD...MERGE_HEAD
  cp = cherry-pick -x -Xignore-all-space
  diffignorespace = diff -b -w --ignore-space-at-eol
  difflist = diff --stat
  st = status
  lg = log --pretty=oneline --graph
  logfull = log --pretty=fuller --graph --stat -p
  lg1 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lg2 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --name-status
  lg3 = log --color --graph --pretty=format:'%Cred%H%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --name-status
  hist = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all --full-history
  tags = tag -l --format='%(refname)   %(creatordate)'
  # There should be an article on what this command do
  uncommit = "!zsh -c 'if (($0)); then nb=$(( $0 - 1 )); else nb=0; fi; i=0; while ((i<=nb)); do git revert -n --no-edit HEAD~$i; ((i++)); done; git commit -m \"revert to $0 version(s) back\"'"
  undomerge = reset --hard ORIG_HEAD
  unstage = reset HEAD
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[core]
  autocrlf = input
  editor = emacs
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[pull]
  rebase = true
[push]
  default = simple
[includeIf "gitdir:~/.homesick/repos*/"]
  path = ~/.gitconfig-h
[includeIf "gitdir:~/GitH*/"]
  path = ~/.gitconfig-h
[includeIf "gitdir:~/GitL*/"]
  path = ~/.gitconfig-l
[user]
	name = Emmanuel Roubion
	email = emmanuel.roubion@gmail.com
